<div class="dvd-details-container mdl-card mdl-shadow--2dp">
  <div class="dvd-details-header">
    <img class="dvd-backdrop" ng-src="{{movie.backdrop_path}}" />
    <h2>{{movie.title}}</h2>
  </div>
  <div class="dvd-details-content">
    <div class="dvd-column dvd-column-left">
      <div ng-if="movie.overview">
        <h3>Történet</h3>
        <p>{{movie.overview}}</p>
      </div>

      <div ng-if="movie.actors[0]">
        <h3>Szereplők</h3>
        <p>
          <span ng-repeat="actor in movie.actors">
          {{actor}}{{$last ? '' : ', '}}
        </span>
        </p>
      </div>
    </div>
    <div class="dvd-column dvd-column-right">
      <div ng-if="movie.trailer">
        <h3>Trailer</h3>
        <iframe style="width: 100%; height: 15vw;" ng-src="{{movie.trailer | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
      </div>

      <h3>Tárolási hely</h3>
      <p>{{movie.medium}}</p>

      <h3>Megjelenés éve</h3>
      <p>{{movie.year}}</p>

      <div ng-if="movie.genres[0]">
        <h3>Műfaj</h3>
        <p>
          <span ng-repeat="genre in movie.genres">
          {{genre}}{{$last ? '' : ', '}}
        </span>
        </p>
      </div>
    </div>

    <div class="clear" />
  </div>
</div>