<div class="dvd-details-container mdl-card mdl-shadow--2dp">
  <div class="dvd-details-header">
    <img class="dvd-backdrop" ng-src="{{movie.backdrop_path}}" />
    <h2>{{movie.title}}</h2>
  </div>
  <div class="dvd-details-content">
    <div class="dvd-column dvd-column-left">
      <h3>Story</h3>
      <p>{{movie.overview}}</p>
    </div>
    <div class="dvd-column dvd-column-right">
      <iframe style="width: 100%; height: 15vw;" src="https://www.youtube.com/embed/-tyM2EX-j4c" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="clear" />
  </div>
</div>