<div class="dvd-reccomendation-breaker">
  <div class="dvd-recommendation-container mdl-grid">
    <div class="dvd-card-image mdl-card mdl-shadow--2dp animated fadeIn" ng-repeat="m in recommendations track by $index">
      <img class="cover-loader" style="display: hidden;" ng-src="{{m.cover}}" />
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="dvd-card-image__title">{{m.title}}</span>
      </div>
    </div>
  </div>
</div>

<div class="dvd-container">
  <h2>Your Movies</h2>
  <div class="dvd-grid mdl-grid">
    <div class="dvd-card-image mdl-card mdl-shadow--2dp animated fadeIn"
         ng-repeat="m in movies | filter: search track by $index"
         >
      <!--ng-style="{ 'background': 'url({{m.cover}}) center / cover' }"-->
      <img class="cover-loader" style="display: hidden;" ng-src="{{m.cover}}" />
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="dvd-card-image__title">{{m.title}}</span>
      </div>
    </div>
  </div>
</div>