<div ng-if="recommendations.length">
  <div class="dvd-container">
    <h2 ng-click="showDetails(first(recommendations).id)">Ajánló <i class="material-icons">&#xE89E;</i></h2>
  </div>
  <div class="dvd-reccomendation-breaker">
    <div class="dvd-recommendation-container mdl-grid">
      <div class="dvd-card-image mdl-card mdl-shadow--2dp animated fadeIn" ng-repeat="m in recommendations track by $index" ng-click="showDetails(m.id)">
        <img class="cover-loader" style="display: hidden;" ng-src="{{m.poster_path}}" />
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="dvd-card-image__title">{{m.title}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dvd-container">
  <div class="dvd-searchbar">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder" ng-init="search=''">
        <input class="mdl-textfield__input" type="text" id="search" ng-model="search" ng-change="updateFilter()" />
        <label class="mdl-textfield__label" for="search">Kereső kifejezés</label>
      </div>
    </div>
    <select ng-model="ord">
      <option value="$index">Rendezés</option>
      <option value="title">Cím szerint</option>
      <option value="year">Év szerint</option>s
    </select>
  </div>
  <h2>Tárolt filmek</h2>
  <div class="dvd-grid mdl-grid">
    <div class="dvd-card-image mdl-card mdl-shadow--2dp animated fadeIn" ng-repeat="m in movies | filter: selected | orderBy: ord"
    ng-click="showDetails(m.id)">
      <!--ng-style="{ 'background': 'url({{m.cover}}) center / cover' }"-->
      <img class="cover-loader" style="display: hidden;" ng-src="{{m.poster_path}}" />
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="dvd-card-image__title">{{m.title}}</span>
      </div>
    </div>
  </div>
  <button style="position: fixed; right: 3em; bottom: 3em; z-index: 3; background: rgb(173, 20, 87) none repeat scroll 0% 0%; padding: 36px;"
  class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored dvd-fab" ng-click="newMovieModal()">
    <i class="material-icons">add</i>
  </button>
</div>