<div class="dvd-details-container mdl-card mdl-shadow--2dp">
  <div class="dvd-details-content">
    <h2>Add new movie</h2>
    
    <h3>Media</h3>
    <input type="text" list="media" />
    <datalist id="media">
      <option value="{{m}}" ng-repeat="m in media" />
    </datalist>
    
    <h3>Title</h3>
    <input ng-model="enteredTitle" ng-change="titleChanged()" list="movies" />
    <datalist id="movies">
      <option value="{{m.title}}" ng-repeat="m in possibleMovies" label="{{m.title}}">{{m.id}}</option>
    </datalist>
    <p>Possible titles:</p>
    <ul>
      <li ng-repeat="m in possibleMovies" ng-click="alert(m.id)" class="animated fadeIn">{{m.title}}</li>
    </ul>
    
    <div class="dvd-column dvd-column-left">
      <h3>Story</h3>
      <p>Maecenas tempor vehicula lacinia condimentum parturient purus a suspendisse cubilia vehicula quam etiam torquent aliquet
        parturient eros suspendisse a dolor elementum cum tristique platea.Fringilla a litora metus nisi adipiscing ac morbi
        porta adipiscing curabitur ut vestibulum auctor vestibulum cum adipiscing ac nec fringilla luctus elit habitant.
        A adipiscing.</p>
    </div>

    <div class="clear" />
  </div>
</div>