<div class="dvd-details-container mdl-card mdl-shadow--2dp">
  <div class="dvd-details-content">
    <h2>Add new movie</h2>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" ng-model="medium" list="media">
      <label class="mdl-textfield__label" for="sample3">Storage media</label>
    </div>
    <datalist id="media">
      <option value="{{m}}" ng-repeat="m in media" />
    </datalist>


    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="title" ng-model="enteredTitle" ng-change="titleChanged()" list="movies">
      <label class="mdl-textfield__label" for="sample3">Movie title</label>
    </div>
    <datalist id="movies">
      <option value="{{m.title}}" ng-repeat="m in possibleMovies" label="{{m.title}}">{{m.id}}</option>
    </datalist>

    <ul class="dvd-possible-movies" ng-if="possibleMovies">
      <li ng-repeat="m in possibleMovies" ng-click="selectPossibleMovie(m.id)">
        {{m.title}}
      </li>
    </ul>

    <div ng-if="firstResult.id">
      <div class="dvd-column dvd-column-left">
        <p>{{firstResult.overview}}</p>
      </div>
      <div class="dvd-column dvd-column-right">
        <img class="cover-loader" style="display: hidden;" ng-src="{{firstResult.poster_path}}" />
      </div>

      <div class="clear" />
    </div>
    <button ng-click="addSelectedMovie()">Film hozzáadása</button>
  </div>
</div>