@import "compass";

$lato-font-path: '../bower_components/lato/font';
@import "lato/scss/lato";

@import "ngdialog";
@import "dvddialog";

body {
  font-family: Lato;
}

h2 {
  font-size: 45px;
  line-height: 48px;
  font-family: Lato;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 5vh;
}

h3 {
  font-size: 24px;
  line-height: 48px;
  font-family: Lato;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 2vh;
}

.dvd-ribbon {
  width: 100%;
  height: 40vh;
  // background-color: #455A64;
  flex-shrink: 0;
}

.dvd-main-container {
  margin: 0 auto;
  padding: 0 5%;
  margin-top: -35vh;
  flex-shrink: 0;
}

.dvd-container {
  max-width: 80%;
  margin: 0 auto;
  
  .dvd-grid {
    margin: 0 auto;
    justify-content: center;
  }
  
  .dvd-fab {
    position: fixed;
    right: 3vw;
    bottom: 5vw;
    z-index: 3;
    background: #ad1457;
    padding: 36px;
    
    &:hover,
    &:focus,
    &:active {
      background: lighten($color: #ad1457, $amount: 10)
    }
  }
}

.dvd-card-image {
  width: 185px;
  height: 278px;
  margin: 2em;
  position: relative;
  
  transition-property: box-shadow, transform;
  transition-duration: 0.2s;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    
    .mdl-card__actions {
      padding-top: 120px;
    }
  }
  
  img.cover-loader {
    position: absolute;
    z-index: -100;
  }

  .mdl-card__actions {
    transition-property: padding;
    transition-duration: 0.2s;
    transform-style: ease-in-out;
    
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    
    padding: 16px;
    padding-top: 100px;
    min-height: 3em;
    @include background-image(linear-gradient(transparent, rgba(0, 0, 0, 0.6) 60%));
    color: rgba(255, 255, 255, 0.9);
    text-shadow: black 1px 1px 1px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    
    span {
      vertical-align: bottom;
    }
  }
}

.dvd-reccomendation-breaker {
  position: relative;
  margin-top: 2vh;
  width: 100%;
  
  .dvd-recommendation-container {
    margin: 0 auto;
    width: auto;
    width: 100%;
    max-width: 900px;
    height: 300px;
    padding-top: 18px;
    padding-bottom: 32px;
    justify-content: center;
    overflow: hidden;
    
    transition-property: width;
    transform-style: ease-in-out;
    
    .dvd-card-image {
      margin: 20px;
    }
  }
  
  &::before, &::after {
    content: "";
    width: 200vw;
    height: 350px;
    position: absolute;
    image-rendering: optimizeQuality;
    transform-origin: 50% 50%;
  } 
  
  &::before {
    z-index: -1;
    transform: translateX(-25%) rotate(-2deg);
    background-color: #ad1457;
  }

  &::after {
    z-index: -2;
    transform: translateX(-23%) translateY(-100%) rotate(2deg);
    background-color: #880e4f;
  }
}

