.dvd-new-modal button {
	float: right;
}

.dvd-details-container {
	width: 60vw;
}

.dvd-input-big {
	display: block;
	margin-top: 1em;
	
	input {
		font-size: 1.5em;
		font-family: Lato;
		line-height: 1em;
		font-weight: 300;
	}
	
	label {
		font-size: 1.5em;
		font-family: Lato;
		line-height: 1em;
		font-weight: 300;
	}
}

ul.dvd-possible-movies {
	margin: 0;
	padding: 0;

	li {
		display: block;
		list-style: none;
		margin: 1em;
		padding: 0.5em;
		background: #880e4f;
		color: white;
		border-radius: 3em;
		text-align: center;
	}
}